.banner{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(images/background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;

}
.logo{
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin:0 25px;
    }
    
    .navbar ul li a{
        text-decoration:none;
        color: antiquewhite;
    }
    
    .navbar ul li a:hover{
        box-shadow: 0 2px  antiquewhite;
        transition: 0.7s;
    }
    .header{
        color: antiquewhite;
        font-family: 'Times New Roman', Times, serif;
        padding-top: 20px;
    }
   span{
    color: rgb(229, 189, 12);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   p{
    color: antiquewhite;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   img{
    float:right;
    border-radius: 40px;
    padding-right: 30px;
   }
   .content{
    padding-left: 20px;
   }
   .content h2{
    color:rgb(32, 32, 2); 
    
   }