*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
}

.banner{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(images/background2.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    display: flex;
    width: 90%;
    margin: auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
    

}
.navbar p{
    color: antiquewhite;
}
.navbar h1{
    color: antiquewhite;
    font-size: 60px;
}

.logo{
    cursor: pointer;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    
}

.navbar ul li{
list-style-type: none;
display: inline-block;
margin:0 25px;
}

.navbar ul li a{
    text-decoration:none;
    color: antiquewhite;
}

.navbar ul li a:hover{
    box-shadow: 0 2px  antiquewhite;
    transition: 0.7s;
}

.content{
    width: 100%;
    position: absolute;
    top: 40%;
    color: antiquewhite;
    text-align: center;
    
}

.content h1{
font-size: 80px;
}

.content p{
    margin: 30px auto;
    text-align:center;
}


button{
    width: 200px;
    padding: 15px 0;
    margin:20px;
    text-align: center;
    color:black;
    cursor: pointer;
    font-weight: 600;
    background-color: rgba(164, 153, 137, 0.749);
    font-size: 20px;
    
}
button:hover{
    color: black;
    transition: 0.7s;


}
